<nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 ml-2 h1">Ang Car</span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/engine" class="nav-link">Engine</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/exterior" class="nav-link">Exterior</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/interior" class="nav-link">Interior</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/autopilot" class="nav-link">Autopilot</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/payment" class="nav-link">Payment</a>
    </li>
  </ul>

</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container-fluid">
    <app-summary></app-summary>
  </div>
</div>
